body {
    width: 1280px;
    margin-top: 10px;
    margin-right: auto;
    margin-left: auto;
    padding: 0;
    font-family: Montserrat;
}

h1 {
    display: inline;
}

.drop-zone {
    border: 1px solid #e0e0e0;
    color: #c0c0c0;
    font-size: x-large;
    padding: 20px;
    box-sizing: border-box;
}

button {
    font-family: inherit;
    font-weight: bold;
    background: #f8f8f8;
    color: #404040;
    border: none;
    box-shadow: 0px 2px 2px #00000060;
}

button:active {
    box-shadow: none;
    transform: translateY(2px);
}

button:focus {
    outline: 0;
}

textarea {
    padding: 10px;
    color: #404040;
    font-family: Overpass Mono;
    border: solid;
    border-color: #e0e0e0;
    border-width: 1px;
    box-sizing: border-box;
}

textarea:focus {
    outline: 0;
}

.description {
    display: inline;
    position: relative;
    left: 20px;
    font-size: small;
}

.titleContainer {
    float: left
}

.logoContainer {
    text-align: right;
}

.logo {
    display: inline-block;
    position: relative;
    top: 2px;
    left: 12px;
    height: 40px;
}

.underTitle {
    height: 10px;
}